<div id="new-list" class="col s8">
<%= form_for(@list) do |f| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list.errors.count, "error") %> prohibited this todo_list from being saved:</h2>
      <ul>
      <% @list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="input-field">
      <%= f.text_field :name %>
      <%= f.label :name %>
    </div>

    <div class="file-field input-field">
      <div class="btn">
        <span>Avatar</span>
        <%= f.file_field :avatar %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>

    <div class="input-field">
      <%= f.text_area :description,class:'materialize-textarea' %>
      <%= f.label :description %>
    </div>

    <div class="input-field center-align">
      <a class="waves-effect waves-light su-btn btn-flat submit"><%= submit_tag "Enter" %></a>
    </div>

<% end %>
</div>
