
<div class="row">
  <div class="col s12 m4 l3"> <!-- Note that "m4 l3" was added -->

    <div class="collection">
      <%= link_to current_all_tasks.name, current_all_tasks, class: "collection-item active", id:"collection-item_#{current_all_tasks.id}", remote: true %>
      <% current_all_lists.each do |list| %>
       <% if (current_all_tasks.id != list.id)  %>
         <%= link_to list.name, list, class: "collection-item",id:"collection-item_#{list.id}", remote: true %>
        <% end %>
      <% end %>
      <%= link_to 'Add List +', new_list_path, class: "collection-item"%>
    </div>
  </div>
  <div class="col s12 m8 l9"> <!-- Note that "m8 l9" was added -->

    <div class="new-task">
    	<%= render partial: 'tasks/form' %>
    </div>
    <% unless @list.tasks.empty? %>
    		<h6>Incomplete Tasks</h6>
    		<div class="tasks" id="incomplete_tasks">
    		  <%= render @incomplete_tasks %>
    		</div>

    		<h6>Comlpete Tasks</h6>
    		<div class="tasks" id="complete_tasks">
    		  <%= render @complete_tasks %>
    		</div>
    <% end %>
        <h4>List Delete</h4>
     		<p class="delete-list">
     		    <%= link_to 'Delete this list', @list, :confirm => 'Are you sure?', :method => :delete %>
     		</p>

  </div>
</div>

 <!-- Modal Structure -->
 <div id="modal1" class="modal">
   <div class="modal-content">
     <h4>Modal Header</h4>
     <p>A bunch of text</p>
   </div>
   <div class="modal-footer">
     <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
   </div>
 </div>
