<p id="<%= task.id%>"><%= "#{task.detail} #{task.completed_at}" %></p>
<% if (!task.is_blocker?) && (!task.completed?) %>
	<ul class="menu-option menu-information">
	<% if (all_task?(task.list_id) ) %>
		<li><p><%= "#{task.list_belonging}"%></p></li>
		<li>/</li>
	<% end %>
		<li><p><%= "#{distance_of_time_in_words(task.created_at, Time.now, include_seconds: true)} ago" %></p></li>
		<li>/</li>
		<li><p> created_at: <%= "#{task.created_at.strftime('%m:%d:%Y')} " %></p></li>
		<% if (task.deadline?) %>
			<li>/</li>
		  <li><i class="material-icons md-18 md-red">&#xE858;</i><p><%= "#{task.deadline}" %></p></li>
		<% end %>
	</ul>
<% end%>
