
    <div class="section ms-form">
        <%= f.hidden_field :current_step, :value => "personal" %>
        <div class="input-field capitalize">
          <i class="material-icons prefix">person_outline</i>
          <%= f.text_field :first_name %>
          <%= f.label :first_name, id: 'icon_prefix',class:'active' %>
        </div>
        <div class="input-field capitalize">
          <i class="material-icons prefix">person_outline</i>
          <%= f.text_field :last_name %>
          <%= f.label :last_name, id: 'icon_prefix',class:'active' %>
        </div>
        <div class="input-field">
          <i class="material-icons prefix">email</i>
          <%= f.text_field :email %>
          <%= f.label :email, id: 'icon_prefix',class:'active' %>
        </div>
        <div class="input-field center-align">
          <a class="waves-effect waves-light btn-large row submit"><%= f.submit "Settings" %></a>
       </div>
     </div>
