<%= form_for( @invitation) do |f| %>
  <div class="field">
    <%= f.hidden_field :list_id, :value => @list.id %>
    <%= f.label :recipient_email, "Recipient's email address" %><br />
    <%= f.text_field :recipient_email %>
  </div>

  <div class="actions">
    <%= f.submit "Invite!" %>
  </div>
<% end %>
