<aside id="left-sidebar-nav" class="user_lists">
            <ul id="slide-out" class="side-nav fixed leftside-navigation ps-container ps-active-y" style="width: 240px;">
                  <li><div class="userView user-details">
                        <div class="background">
                          <!-- <img src="images/office.jpg"> -->
                        </div>
                        <a href="#!user" class="center"><%= image_tag(current_user.avatar(:medium), class: 'circle responsive-img center valign profile-image',alt: current_user.first_name, title:current_user.first_name) %></a>
                        <a href="#!name" class="center profile-btn"><span class="center name"><%= current_user.first_name %></span></a>
                    </div>
                  </li>
                    <!-- <li class="user-details">
                      <div class="row">
                          <div class="col col s4 m4 l4">
                               <%= image_tag(current_user.avatar(:medium), class: 'circle responsive-img valign profile-image',alt: current_user.first_name, title:current_user.first_name) %>
                          </div>
                          <div class="col col s8 m8 l8">
                            <ul id="profile-dropdown" class="dropdown-content">
                                <li><a href="#"><i class="mdi-action-face-unlock"></i> Profile</a></li>
                                <li><a href="#!"><i class="mdi-action-settings"></i> Settings</a></li>
                                <li><a href="#"><i class="mdi-communication-live-help"></i> Help</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><i class="mdi-action-lock-outline"></i> Lock</a></li>
                                <li><a href="#"><i class="mdi-hardware-keyboard-tab"></i> Logout</a></li>
                             </ul>
                            <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown"><%= current_user.first_name %><i class="material-icons right">arrow_drop_down</i></a>
                              <p class="user-roal">Administrator</p>
                          </div>
                      </div>
                  </li> -->
                <li class="bold active avatar" data-name="<%=current_all_tasks.name %>"><a href="#" class="waves-effect waves-cyan" id="<%=current_all_tasks.id %>" data-remote="true" data-href= "<%=list_path(current_all_tasks) %>">
                  <i class="material-icons">view_list</i>
                  <%=current_all_tasks.name %>
                  <span class="badge"><%= current_user.num_incompleted_tasks(current_all_tasks) %>
                  </span></a>
                </li>
                <% @lists.each do |list| %>
                  <% if (current_all_tasks.id != list.id)  %>
                      <li class="bold" data-name="<%=list.name %>">
                        <a href="#"  id="<%=list.id %>" class="waves-effect waves-cyan" data-href= "<%=list_path(list) %>" data-remote="true">
                          <i class="material-icons"><%= image_tag(list.avatar(:medium), class: 'circle', size: "28x28") %></i><%=list.name %>
                          <% if list.collaborations? %>
                            <i class="material-icons collaboration right secondary-content md-18 md-dark">group</i>
                          <%end %>
                          <span class="badge"><%= current_user.num_incompleted_tasks(list)%></span>
                        </a>
                      </li>
                  <% end %>
                <% end %>
                <li class="li-hover"></li>
                <li class="bold"><a href="<%= new_list_path%>" class="waves-effect waves-cyan" data-remote="true">
                  <i class="material-icons">add_circle</i>Add List</a>
                </li>
                <% if !@collaboration_lists.empty? %>
                      <li class="li-hover"><div class="divider"></div></li>
                      <li class="li-hover"><p class="ultra-small center margin more-text">Collaboration lists</p></li>
                      <% @collaboration_lists.each do |collection_list| %>
                          <li class="bold" data-name="<%=collection_list.name %>">
                            <a id="<%= collection_list.id %>" href="#" data-href= "<%=list_path(collection_list) %>" data-remote="true">
                              <i class="material-icons "><%= image_tag(collection_list.avatar(:medium), class: 'circle', size: "28x28") %></i><%= collection_list.name %>
                              <!-- <p>By <%= collection_list.owner.first_name %></p> -->
                              <% if collection_list.collaborations? %>
                                  <i class="material-icons collaboration right secondary-content md-18 md-dark">group</i>
                              <% end %>
                              <span class="badge"><%=current_user.num_incompleted_tasks(collection_list)%></span>
                            </a>
                          </li>
                      <% end %>
                  <% end %>
        </ul>
        <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only">
          <i class="material-icons">menu</i>
        </a>
      </aside>
