        <!-- start header nav-->
        <div class="navbar-fixed">
            <nav class="navbar-color">
              <div class="nav-wrapper">
                 <a href="#!" class="brand-logo darken-1"><%= image_tag "sessions_logo.png", :size => "140x42", :alt => "StandUp", :title => "StandUp Logo"%></a>
                 <div class="container">
                     <div class="col s3 offset-s6 left uppercase" id="nav-list">
                        <%=current_all_tasks.name %>
                     </div>
                  </div>
              <ul class="right hide-on-med-and-down nav-setting">
                <li><a href="#" class="waves-effect waves-block waves-light dropdown-button" data-activates="setting-dropdown">
                         <i class="material-icons md-18 md-light">settings</i>
                       </a>
                       <ul id="setting-dropdown" class="dropdown-content">
                             <li>
                               <%= link_to "Settings", edit_user_path(current_user) %>
                             </li>
                             <li>
                               <%= link_to "Logout", '/logout' %>
                             </li>
                       </ul>
                 </li>
                <li><div id='application_date'>
                     <%= form_for current_list, method: :get,remote: true do |f| %>
                        <input type="hidden" name="date" id="form_date">
                        <input type="date" class="datepicker right-align">
                     <% end %>
                   </div>
                </li>
                <li><a href="badges.html" ><i class="material-icons md-18 md-light">view_module</i></a></li>
                   <li>
                     <ul id="notifications-dropdown" class="dropdown-content">
                         <li>
                           <h5>NOTIFICATIONS <span class="new badge">5</span></h5>
                         </li>
                         <li class="divider"></li>
                         <li>
                           <a href="#!"><i class="mdi-action-add-shopping-cart"></i> A new order has been placed!</a>
                           <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">2 hours ago</time>
                         </li>
                         <li>
                           <a href="#!"><i class="mdi-action-stars"></i> Completed the task</a>
                           <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">3 days ago</time>
                         </li>
                         <li>
                           <a href="#!"><i class="mdi-action-settings"></i> Settings updated</a>
                           <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">4 days ago</time>
                         </li>
                         <li>
                           <a href="#!"><i class="mdi-editor-insert-invitation"></i> Director meeting started</a>
                           <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">6 days ago</time>
                         </li>
                         <li>
                           <a href="#!"><i class="mdi-action-trending-up"></i> Generate monthly report</a>
                           <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">1 week ago</time>
                         </li>
                       </ul>
                   <a href="#" class="waves-effect waves-block waves-light notification-button dropdown-button" data-activates="notifications-dropdown">
                     <i class="material-icons md-18 md-light">notifications<extra-small class="notification-badge">5</sextra-small></i>
                     </a>
                   </li>
                   <li><a href="collapsible.html"><i class="material-icons md-18 md-light">refresh</i></a></li>
                   <li><a href="mobile.html"><i class="material-icons md-18 md-light">more_vert</i></a></li>


                 </ul>
               </div>

            </nav>
        </div>
        <!-- end header nav-->



<!-- <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <ul id="dropdown1" class="dropdown-content">
      <li><%= link_to "Settings", edit_user_path(current_user) %></li>
      <li class="divider"></li>
      <li> <%= link_to "Logout", '/logout' %></li>
    </ul>
    <nav class="border-bottom">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo valign-wrapper"><%= image_tag "sessions_logo.png", :size => "160x48", :alt => "StandUp", :title => "StandUp Logo"%></a>
        <a class="dropdown-button right" href="#!" data-activates="dropdown1"><%= current_user.first_name %><i class="avatar-icons right"><%= image_tag(current_user.avatar(:medium), height: '42', width: '42',class: 'circle') %></i></a>

      </div>
    </nav>
  </div>
</header> -->
